<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="5;url=https://e45m.github.io/optCV/">
<title>Página Trasladada</title>
<style>
body {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
}
</style>
</head>
<body>
  <h1>Esta página se ha trasladado</h1>
  <p>Será redirigido automáticamente en 5 segundos. Si no, haga clic en el siguiente enlace:</p>
  <a href="https://e45m.github.io/optCV/">https://e45m.github.io/optCV/</a>
  <script>
    setTimeout(function() {
      window.location.href = "https://e45m.github.io/optCV/";
    }, 5000);
  </script>
</body>
</html>
